<h1><%= @restaurant.name %></h1>
<%= @restaurant.address %> <br>
<%= @restaurant.phone_number %> <br>
<%= @restaurant.category %> <br>
---------------------------------- <br>
<% @restaurant.reviews.each do |review| %>
Review => <%= review.content %> <br>
Rating =><%= review.rating %> <br>
---------------------------------- <br>
<% end %>

<%= link_to 'back to index', restaurants_path %>
